<%= form_with model: @booking, url: bookings_create_path, local: true do |form| %>
  <h2 class="form-heading">Booking trevel</h2>
  <label class="form-label" for="booking_name">Name:</label>
  <input class="form-input" type="text" id="booking_name" name="booking[name]" required>

  <label class="form-label" for="booking_email">Email:</label>
  <input class="form-input" type="email" id="booking_email" name="booking[email]" required>

  <label class="form-label" for="booking_phone">Phone:</label>
  <input class="form-input" type="tel" id="booking_phone" name="booking[phone]" required>

  <label class="form-label" for="booking_travel_date">Travel date:</label>
  <input class="form-input" type="date" id="booking_travel_date" name="booking[travel_date]" required>

  <label class="form-label" for="booking_message">Message:</label>
  <textarea class="form-textarea" id="booking_message" name="booking[message]" rows="4" required></textarea>

  <input class="form-submit" type="submit" value="Submit">
<% end %>





