<!DOCTYPE html>
<html>
<head>
  <title>New Contact Form Submission</title>
</head>
<body>
  <h1>New Contact Form Submission</h1>
  <p>Name: <%= @contact.name %></p>
  <p>Email: <%= @contact.email %></p>
  <p>Phone: <%= @contact.phone %></p>
  <p>Question: <%= @contact.question %></p>
</body>
</html>