<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <h1>Contact Confirmation</h1>
  <p>Your contact has been confirmed!</p>
</body>
</html>